

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}

input,
textarea {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #5a7233;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

title {
  display: flex;
}

form {
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: #fff;
}

.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #5a7233;
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.form-inner {
  padding: 40px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}

.form-inner textarea {
  resize: none;
}

.input-error {
  border: 1px !important;
  border-color: red !important;
  border-style: solid !important;
}

.button-img {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(../images/buttons.png) no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  padding: 20px 0 0 140px;
}

.dec {
  background-position: 0 -29px;
}

.numbers-row {
  display: flex;
  padding: 10px
}

#counter {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
}

#sucess{
  color: green;
  font-size: 25px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #3e4f24;
  background: #5a7233;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

button:hover {
  background: #3e4f24;
}

@media (min-width: 568px) {
  form {
    width: 60%;
  }
}

